<div
	class="fixed top-0 left-0 w-full h-full flex justify-center items-center transition duration-300"
	[class.opacity-0]="!isOpen()"
	[class.opacity-100]="isOpen()"
	[class.-z-10]="!isOpen()"
	[class.z-0]="isOpen()"
>
	<div
		class="absolute z-20 top-0 left-0 w-full h-full bg-gray-700 opacity-70 dark:bg-gray-950"
		(click)="toggleModal()"
	></div>

	@if (message() && companion) {
		<div class="relative card dark:bg-gray-800 max-w-full w-6/12 z-30">
			<div class="absolute top-5 right-5 cursor-pointer dark:text-gray-200" (click)="toggleModal()">X</div>
			<div class="card-body">
				<div class="flex justify-start items-center gap-2">
					<div class="avatar avatar-xl">
						<img [src]="companion.avatar_url" alt="avatar" />
					</div>
					<div class="flex flex-col">
						<span class="text-xl font-medium dark:text-gray-200">{{ userName }}</span>
						<app-user-role-badge [role]="companion.role" />
					</div>
				</div>
				<div class="divider before:bg-gray-700 after:bg-gray-700"></div>
				<div
					#messageContainer
					class="p-5 flex flex-col gap-2 w-full h-96 overflow-y-auto scroll-smooth snap-end bg-gray-100 dark:bg-gray-900"
				>
					<div class="flex flex-col gap-2">
						@for (message of message()?.messages; track message.id) {
							<app-message [message]="message"></app-message>
						}
					</div>
				</div>
				<div class="divider before:bg-gray-700 after:bg-gray-700"></div>
				<div class="flex w-full max-w-full">
					<form [formGroup]="form" class="w-full">
						<div class="relative max-w-full w-full">
							<input
								class="input-block input-solid input-xl input dark:bg-gray-900 dark:text-gray-200"
								placeholder="Написать сообщение..."
								formControlName="message"
								[readonly]="isLoading()"
							/>
							<div class="absolute top-1/2 right-5 -translate-y-1/2">
								@if (!isLoading()) {
									<button class="w-5 h-5 flex justify-center items-center" (click)="sendMessage()">
										<img
											src="./assets/images/icons/plain.svg"
											alt="send message"
											class="dark:brightness-200"
										/>
									</button>
								} @else {
									<svg
										class="spinner-ring dark:spinner-secondary"
										viewBox="25 25 50 50"
										stroke-width="5"
									>
										<circle cx="50" cy="50" r="20" />
									</svg>
								}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	}
</div>
