<app-card title="Календарь занятий">
	<div class="flex flex-col w-full">
		<div class="flex justify-between items-center mb-4">
			<h2 class="text-2xl font-medium dark:text-gray-200"></h2>

			<div class="flex items-center gap-4">
				<button (click)="previousMonth()" class="btn btn-sm bg-transparent">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5 stroke-current text-gray-800 dark:text-neutral"
						fill="none"
						viewBox="0 0 24 24"
					>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
					</svg>
				</button>
				<span class="text-lg font-medium dark:text-gray-300">{{ currentMonthName + ' ' + currentYear }} </span>
				<button (click)="nextMonth()" class="btn btn-sm bg-transparent">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5 stroke-current text-gray-800 dark:text-neutral"
						fill="none"
						viewBox="0 0 24 24"
					>
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
					</svg>
				</button>
			</div>
		</div>

		<div class="flex mb-2">
			@for (day of weekDays; track day) {
				<div class="flex-1 text-center text-sm font-medium text-gray-500 dark:text-gray-400">{{ day }}</div>
			}
		</div>

		<div class="flex flex-col gap-2">
			@for (week of weeks; track week) {
				<div class="flex gap-2">
					@for (day of week; track day.date.getTime()) {
						@if (day.isCurrentMonth) {
							@if (day.isToday) {
								<div
									class="flex-1 py-2 px-3 h-20 rounded-lg duration-300 bg-gray-300 cursor-pointer dark:bg-gray-700 hover:bg-gray-400 dark:hover:bg-gray-600 flex flex-col"
								>
									<span class="text-sm font-medium text-rose-500">{{ day.day }}</span>
								</div>
							} @else {
								<div
									class="flex-1 py-2 px-3 h-20 rounded-lg duration-300 bg-gray-200 cursor-pointer dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 flex flex-col"
								>
									<span class="text-sm font-medium text-black dark:text-rose-50">{{ day.day }}</span>
								</div>
							}
						} @else {
							<div class="flex-1 py-2 px-3 h-20 rounded-lg bg-gray-100 dark:bg-gray-900 opacity-50">
								<span class="text-sm font-medium text-gray-400">{{ day.day }}</span>
							</div>
						}
					}
				</div>
			}
		</div>
	</div>
</app-card>
