<div class="card max-w-full w-full">
  <div class="card-body">
    <div class="flex flex-col">
      <h2 class="text-2xl font-medium">Мессенджер</h2>
      <div class="divider"></div>

      <div class="flex flex-col gap-1">

        <div class="p-2 flex justify-between items-center gap-3 duration-300 hover:bg-gray-200">
          <div class="flex justify-center items-center">
            <div class="flex gap-3">
              <div class="avatar avatar-xl">
                <img src="./assets/images/avatars/woman.jpg" alt="avatar">
              </div>
              <div class="flex flex-col justify-start">
                <h3 class="text-lg font-medium">Дуйсен Анель</h3>
                <span class="text-sm text-neutral">Помните я вам задавала домашнее задание?</span>
              </div>
            </div>
          </div>
          <div class="flex justify-end items-center">
            <span class="tooltip tooltip-top flex justify-center items-center" data-tooltip="Написать">
              <button class="w-5">
                <img src="./assets/images/icons/plain.svg" alt="message">
              </button>
            </span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
