<div class="w-full h-screen">
  <div class="w-full h-full flex justify-between">

    <div class="relative p-10 w-full h-full flex justify-center items-center bg-zinc-100">
      <div class="absolute top-10 left-10 flex justify-start w-48">
        <a href="#" class="">
          <img src="./assets/images/logo/logo.svg" alt="tech it link">
        </a>
      </div>
      <div>
        <img src="./assets/images/illustration/man-laptop.png" alt="man laptop">
      </div>
    </div>

    <div class="p-10 max-w-xl w-full flex justify-center items-center rounded-2xl">
      <div class="w-full flex flex-col justify-center items-center gap-7">
        <div class="w-full flex flex-col gap-5">
          <h1 class="text-2xl font-bold">Приветствуем вас в образовательной платформе TechITlink 👋</h1>
          <span class="text-sm text-neutral">Для входа в систему, введите ваши учётные данные</span>
        </div>
        <form [formGroup]="formGroup" class="w-full flex flex-col justify-center items-center gap-3 form-group">
          <div class="form-field w-full">
            <label class="form-label text-gray-600 text-xs">Адрес эл. почты</label>
            <input placeholder="Ваш email"
                   type="email"
                   class="input input-block w-full"
                   formControlName="email"
            />
            <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched"
                 class="text-red-600 text-md">
              <small *ngIf="formGroup.get('email')?.errors?.['required']">Email обязателен</small>
              <small *ngIf="formGroup.get('email')?.errors?.['email']">Некорректный Email</small>
            </div>
          </div>
          <div class="form-field w-full">
            <label class="form-label text-gray-600 text-xs">Пароль</label>
            <div class="relative">
              <input placeholder="Ваш пароль"
                     [type]="[isShowPassword ? 'text' : 'password']"
                     class="input input-block"
                     formControlName="password"
              />
              <span class="absolute inset-y-0 right-4 inline-flex items-center cursor-pointer"
                    (click)="toggleTypeInput()"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-content3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
              </span>
            </div>
            <div *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched"
                 class="text-red-600 text-md">
              <small *ngIf="formGroup.get('password')?.errors?.['required']">Пароль обязателен</small>
              <small *ngIf="formGroup.get('password')?.errors?.['minlength']">Минимум 8 символов</small>
            </div>
          </div>
          <div class="w-full">
            <label class="w-full flex justify-end items-center cursor-pointer gap-2">
              <input type="checkbox"
                     class="checkbox checkbox-sm checkbox-primary"
                     formControlName="remember"
              />
              <span>Запомнить меня?</span>
            </label>
          </div>
          <button class="mt-5 btn btn-md btn-primary btn-block"
                  [class.btn-loading]="isLoading"
                  [disabled]="formGroup.invalid"
                  (click)="onSubmit()">Войти</button>
        </form>
      </div>
    </div>

  </div>
</div>
