<app-card title="Журнал оценок">
  @if (courses()) {
    <div class="flex flex-wrap">
      @for (course of courses(); track course.id) {
        <div class="p-5 w-1/3">
          <div class="relative flex flex-col overflow-hidden">
            <div class="w-full h-96 rounded-xl overflow-hidden">
              <img
                [src]="course.imageUrl"
                alt="course image"
                class="w-full h-full object-cover"
              >
            </div>
            <div class="px-3 py-2 flex flex-col gap-2 bg-gray-100 dark:bg-gray-800">
              <span class="text-3xl font-medium text-black dark:text-gray-200">{{course.title}}</span>
              <div class="mt-5 w-52">
                <button class="btn btn-md btn-solid-primary dark:btn-solid-secondary"
                        (click)="openJournal(course)"
                >Открыть журнал</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</app-card>
